:80 {
	handle /api/* {
		reverse_proxy backend:3000
	}
	reverse_proxy frontend:80
}

:443 {
	tls internal

	handle /api/* {
		reverse_proxy backend:3000
	}
	reverse_proxy frontend:80

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}
